.photo-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
    grid-template-rows: auto;
    gap: 16px 16px;
    max-width: 1184px;
    margin: 92px 48px;
}

@media screen and (max-width:1024px){
    .photo-grid{
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 14px 14px;
        max-width: calc(100% - 2 * 48px);;
    }
}

@media screen and (max-width:768px){
    .photo-grid{
        grid-template-columns: repeat(2, 1fr);
        gap: 16px 16px;
        max-width: calc(100% - 2 * 24px);
        margin: 88px 24px 88px;         
    }
}

@media screen and (max-width:320px){
    .photo-grid{
        display: flex;
        flex-direction: column;
        gap: 12px;
        max-width: calc(100% - 2 * 16px);
        margin: 64px 16px 64px;         
    }
}