.lead{
    margin-top: 56px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (max-width:984px){
    .lead{
        margin-top: 48px;
        max-width: vw;
    }
}

