.lead__title {
    margin: 0;
    max-width: 720px;
    font-style: normal;
    font-weight: 900;
    font-size: 96px;
    line-height: 100px;
    text-align: center;
}

@media screen and (max-width: 710px){
    .lead__title {
        font-size: 13vw;
        line-height: 1;
    }
}

@media screen and (max-width: 320px) {
    .lead__title{
        line-height: 44px;
        font-size: 40px;
    }
}