.place__paragraph {
    max-width: 484px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 29px;
    margin: 0 auto 26px;
}

.place__paragraph:last-child{
    margin-bottom: 0;
}