.footer{
    display: flex;
    margin: 92px 48px 24px;
    justify-content: space-between;
    align-items: right;
    flex-direction: row;
}

@media screen and (max-width: 768px) {
    .footer{
        margin: 88px 24px 24px;
    }
}

@media screen and (max-width: 658px){
    .footer{
        flex-direction: column;
        gap: 25px;
    }
}

@media screen and (max-width: 320px){
    .footer{
        gap: 48px;
        margin: 64px 16px 24px;
    }
}

