.lead__polka-caption {
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 14px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    margin-top: 8px;
}

@media screen and (max-width: 984px) {
    .lead__polka-caption {
        margin-left: 48px;
    }
}

@media screen and (max-width: 768px) {
    .lead__polka-caption {
        margin-left: 24px;
    }
}

@media screen and (max-width: 320px) {
    .lead__polka-caption {
        margin-left: 16px;
    }
}