.intro__title {
    font-style: normal;
    font-weight: 900;
    font-size: 54px;
    line-height: 58px;
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 665px){    
    .intro__title {
        font-size: 7vw;
        line-height: 1;
    }
}

@media screen and (max-width:320px) {
    .intro__title {
        font-size: 32px;
        line-height: 35px;
    }
}